/* ==========================================================================
   Base styles
   ========================================================================== */

/*Color*/
:root {
  --accent-color: #b79dc4;
  --accent-color-darker: #897294;
  --accent-color-lighter: #e7cbf5;
  --secondary-color: #e5e5e5;
  --footer-color: #4c4e56;
}

::selection {
  background: var(--accent-color-lighter);
}

/*Font*/
h1,
h2,
h3,
h4,
h5,
h6,
body,
button,
input,
select,
textarea,
p,
li,
a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

p,
li {
  font-size: 18px;
}

a {
  color: white;
  transition: all .4s ease;
}


a:hover {
  color: var(--accent-color);
}





/* ==========================================================================
   Preloader
   ========================================================================== */
.loading {
  overflow: hidden;
  height: 100vh;
}

form #website {
  display: none;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: var(--accent-color);
}

.preloader-circle {
  position: fixed;
  left: calc(50% - 25px);
  top: calc(50% - 25px);
  opacity: 0;
  z-index: 21;
  /*shape & color*/
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--accent-color-lighter);
}

/*animations*/
.preloader-circle:first-child {
  -webkit-animation: loader 2s infinite;
  animation: loader 2s infinite;
}

.preloader-circle:nth-child(2) {
  -webkit-animation: loader 2s 1s infinite cubic-bezier(0, 0, 0.32, 1.08);
  animation: loader 2s 1s infinite cubic-bezier(0, 0, 0.32, 1.08);
}

@-webkit-keyframes loader {
  0% {
    opacity: 1;
    transform: scale(0);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes loader {
  0% {
    opacity: 1;
    transform: scale(0);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

/* ==========================================================================
   Header
   ========================================================================== */
header nav {
  height: 0;
  position: absolute;
  z-index: 100;
}

header {
  height: 107px;
  padding-bottom: 95px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  box-shadow: inset 0px 90px 27px -23px rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width:992px) {
  header nav {
    position: fixed !important;
  }
}

header nav i {
  font-size: 27px;
  height: 90px !important;
  line-height: 90px !important;
}



/*nav on mobile*/

#nav-mobile {
  padding-top: 5%;
}

#nav-mobile li {
  text-align: center;
}

#nav-mobile li:first-child {
  padding-bottom: 40px;
}


.nav-wrapper {
  color: #fafafa;
}

nav .brand-logo {
  height: 90px;
}

.brand-logo img {
  height: 90px;
  padding: 15px 0;
}

#nav-mobile i {
  float: none;
  margin: 0;
  font-size: 27px;
  color: rgba(0, 0, 0, 0.87);
}

/*titles*/

nav ul a,
ul.sidenav a {
  transition: all .4s ease;

}

nav ul a,
nav ul li,
nav .sidenav-trigger i {
  line-height: 90px;
}

nav ul a:hover,
ul.sidenav a:hover {
  /*removes materialize style*/
  background-color: rgba(0, 0, 0, 0);
  /*new style*/
  color: var(--accent-color);

}

/* ==========================================================================
   Hero
   ========================================================================== */

.hero {
  height: 100vh;
  /* fondo */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgb(209 129 255 / 40%), rgb(189 74 255 / 40%)), url(../img/home-banner.jpg);
  ;
  /*para centering */
  display: flex;
}

@media only screen and (max-width:650px) {
  .hero {
    background-image: linear-gradient(rgb(209 129 255 / 40%), rgb(189 74 255 / 40%)), url(../img/home-banner.jpg);
    ;
  }
}

.hero>div {
  width: 100%;
  display: flex;
}

.hero>div.blur {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.hero .container {
  margin: auto;
  padding-top: 10vh;
}


.hero h1 {
  margin: 0;
  /* font-family: 'PT Serif', 'Source Sans Pro', sans-serif; */
  color: white;
  font-size: 3rem;
  font-weight: 700;
}

.hero h5,
.hero i {
  color: rgba(255, 255, 255, 0.9);
}

@media only screen and (min-width:600px) {
  .hero .half-width {
    max-width: 550px;
  }
}

@media only screen and (max-width:600px) {
  .hero h1 {
    font-size: 2rem;
  }
}

.hero h5 {
  padding: 10px 0 20px 0;
}


@media only screen and (min-width:993px) {
  .hero .rappi.btn {
    display: none;
  }
}

/*Arrow*/

body {
  background: black;
}

.arrow {
  position: absolute;
  bottom: 35px;
  left: 50%;
  margin-left: -25px;
  width: 50px;
  height: 50px;
  background-image: url(../img/arrow-down.svg);
  background-size: contain;
}

.bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(10px);
  }

  60% {
    transform: translateY(5px);
  }
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(10px);
  }

  60% {
    transform: translateY(5px);
  }
}

/* ==========================================================================
   Secciones General
   ========================================================================== */

main {
  background-color: #fafafa;

}

@media only screen and (min-width:901px) {


  /* centra los textos verticalmente */
  .col.s12.m6.l6.valign-wrapper {
    min-height: 430px;
  }
}

.alt-container.section {
  padding: 3.5em 0;
  margin-top: 70px;
  margin-bottom: 70px;
  overflow: hidden;
  background-color: var(--secondary-color);
}

.alt-container.section .row {
  width: 90%;
  max-width: 1280px;
}

.alt-container.section.wide .row {
  width: 90%;
  max-width: 1920px;
}


@media only screen and (min-width: 901px) {
  .reversed {
    display: flex;
    flex-direction: row-reverse;
  }


  /* ==========================================================================
   Section 3
   ========================================================================== */

  #section-3 {
    padding-bottom: 140px;
  }



  @media only screen and (min-width:901px) {
    #section-3 .row {
      display: flex;
    }

    #section-3 .col {
      flex: 1;
    }

    #section-3 .col:first-child {
      padding-right: 50px;
    }

    #section-3 .col:last-child {
      padding-left: 50px;
    }
  }

  @media only screen and (max-width:900px) {
    #section-3 .col:last-child {
      padding-top: 80px;
    }
  }

  /* ==========================================================================
   Other tabs
   ========================================================================== */

  .back {
    margin-top: 2rem;
  }

  .back a {
    text-decoration: none;
    font-size: 1.5em;
  }

  .back a::before {
    content: "< ";
  }

  /* ==========================================================================
   FAQ Hero
   ========================================================================== */

  .hero.small {
    height: 35vh;
  }

  /* ==========================================================================
   FAQ TOC
   ========================================================================== */
  /* section.toc {
  max-width: 600px;
}

section.toc a {
  color: rgba(0, 0, 0, 0.87);
  transition: all .4s ease;
}

section.toc a:hover {
  color: var(--accent-color);
}

*/
  /* ==========================================================================
   FAQ FAQ
   ========================================================================== */
  section.faq p {
    padding-bottom: 10px;
  }


  /* ==========================================================================
   Footer
   ========================================================================== */
  .page-footer>.container {
    padding-bottom: 20px;
  }

  footer li,
  footer p,
  footer {
    font-size: 1rem;
  }

  footer li {
    margin-bottom: 8px;
  }

  footer i {
    font-size: 27px;
  }

  /* footer copyright */
  .footer-copyright {
    background-color: rgba(0, 0, 0, 0.18) !important;
  }

  /* ==========================================================================
   Cambios Materialize
   ========================================================================== */

  .row {
    margin-bottom: 0;
  }

  .section {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  @media only screen and (max-width:901px) {
    .section {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  .valign-wrapper {
    flex-direction: column;
    justify-content: center;
  }

  .responsive-img {
    display: block;
    margin: auto;
  }


  /* ==========================================================================
   Browser Fixes
   ========================================================================== */
  /* Firefox */

  @-moz-document url-prefix() {
    /* .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/img/fondo-firefox.jpg) !important;
  } */

  }