/* ==========================================================================
   Base styles
   ========================================================================== */

/*Color*/
:root {
  --accent-color: #b79dc4;
  --accent-color-darker: #897294;
  --accent-color-lighter: #e7cbf5;
  --secondary-color: #e5e5e5;
  --footer-color: #4c4e56;
  --club-consultoría: #9C2830;
  --club-comunicación: #344A8B;
  --club-it: #CEB64F;
  --club-media: #344A8B;
  --club-finanzas: #518D4B;
  --club-emprendedores: #D35931;

}

::selection {
  background: var(--accent-color-lighter);
}

/*Font*/
h1,
h2,
h3,
h4,
h5,
h6,
body,
button,
input,
select,
textarea,
p,
li,
a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

p,
li {
  font-size: 18px;
}

a:not(.carousel-item) {
  color: white;
  transition: all .4s ease;
}


a:hover,
a:focus,
a:active {
  /*new style*/
  color: var(--accent-color) !important;
}


/*Smooth scrolling*/
html {
  scroll-behavior: smooth;
}


/* ==========================================================================
   Preloader
   ========================================================================== */
.loading {
  overflow: hidden;
  height: 100vh;
}

form #website {
  display: none;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: var(--accent-color);
}

.preloader-circle {
  position: fixed;
  left: calc(50% - 25px);
  top: calc(50% - 25px);
  opacity: 0;
  z-index: 21;
  /*shape & color*/
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--accent-color-lighter);
}

/*animations*/
.preloader-circle:first-child {
  -webkit-animation: loader 2s infinite;
  animation: loader 2s infinite;
}

.preloader-circle:nth-child(2) {
  -webkit-animation: loader 2s 1s infinite cubic-bezier(0, 0, 0.32, 1.08);
  animation: loader 2s 1s infinite cubic-bezier(0, 0, 0.32, 1.08);
}

@-webkit-keyframes loader {
  0% {
    opacity: 1;
    transform: scale(0);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes loader {
  0% {
    opacity: 1;
    transform: scale(0);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

/* ==========================================================================
   Header
   ========================================================================== */
header nav {
  height: 0;
  position: absolute;
  z-index: 100;
}

header {
  height: 115px;
  padding-bottom: 99px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  box-shadow: inset 0px 90px 33px -22px rgb(0 0 0 / 0%);
  transition: all .4s ease;
}

header.shadow {
  box-shadow: inset 0px 113px 20px -22px rgb(0 0 0 / 50%);
}

@media only screen and (max-width:992px) {
  header nav {
    position: fixed !important;
  }
}

header nav i {
  font-size: 27px;
  height: 90px !important;
  line-height: 90px !important;
}

/*dropdown*/
.dropdown-trigger:focus {
  color: white !important;
}

.dropdown-content li:hover,
.dropdown-content li.active {
  background-color: white;
}

.dropdown-content a {
  font-size: 14px !important;
}

.dropdown-content li>a:hover,
.dropdown-content li>span:hover {
  color: var(--accent-color)
}

.dropdown-trigger:focus {
  outline: none;
}

/*nav on mobile*/

#nav-mobile {
  padding-top: 5%;
}

#nav-mobile li {
  text-align: center;
}

#nav-mobile li:first-child {
  padding-bottom: 40px;
}


.nav-wrapper {
  color: #fafafa;
}

nav .brand-logo {
  height: 90px;
}

.brand-logo img {
  height: 90px;
  padding: 15px 0;
}

#nav-mobile i {
  float: none;
  margin: 0;
  font-size: 27px;
  color: rgba(0, 0, 0, 0.87);
  transition: all .4s ease;
}

#nav-mobile i:hover {
  color: var(--accent-color);
}

/*titles*/

nav ul a,
ul.sidenav a {
  transition: all .4s ease;

}

nav ul a,
nav ul li,
nav .sidenav-trigger i {
  line-height: 90px;
}

nav ul a:hover,
ul.sidenav a:hover {
  /*removes materialize style*/
  background-color: rgba(0, 0, 0, 0);
  /*new style*/
  color: var(--accent-color);

}

/* ==========================================================================
   Hero
   ========================================================================== */

.hero {
  height: 100vh;
  /* fondo */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgb(209 129 255 / 40%), rgb(189 74 255 / 40%)), url(../img/home-banner.jpg);
  ;
  /*para centering */
  display: flex;
}

@media only screen and (max-width:650px) {
  .hero {
    background-image: linear-gradient(rgb(209 129 255 / 40%), rgb(189 74 255 / 40%)), url(../img/home-banner.jpg);
    ;
  }
}

/*págnias de clubes*/
.hero.club {
  height: 70vh;
  overflow: hidden;
}

@media only screen and (max-width:992px) {
  .hero.club {
    height: 100vh;
  }
}

.hero.club.emprendedores {
  background-image: linear-gradient(rgb(171 63 0 / 40%), rgb(171 63 0 / 40%)), url(../img/placeholder.jpg);
}
.hero.club.consultoría {
  background-image: linear-gradient(rgb(171 0 0 / 40%), rgb(171 0 0 / 40%)), url(../img/placeholder.jpg);
}
.hero.club.it {
  background-image: linear-gradient(rgb(171 134 0 / 40%), rgb(171 134 0 / 40%)), url(../img/placeholder.jpg);
}
.hero.club.media {
  background-image: linear-gradient(rgb(171 0 110 / 40%), rgb(171 0 110 / 40%)), url(../img/placeholder.jpg);
}
.hero.club.comunicacion {
  background-image: linear-gradient(rgb(3 0 171 / 40%), rgb(3 0 171 / 40%)), url(../img/placeholder.jpg);
}
.hero.club.finanzas {
  background-image: linear-gradient(rgb(0 171 37 / 40%), rgb(0 171 37 / 40%)), url(../img/placeholder.jpg);
}

/*contenido hero*/
.hero>div {
  width: 100%;
  display: flex;
}

.hero>div.blur {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.hero .container {
  margin: auto;
  padding-top: 10vh;
}


.hero h1 {
  margin: 0;
  /* font-family: 'PT Serif', 'Source Sans Pro', sans-serif; */
  color: white;
  font-size: 3rem;
  font-weight: 700;
}

.hero h5,
.hero i {
  color: rgba(255, 255, 255, 0.9);
}

@media only screen and (min-width:600px) {
  .hero .half-width {
    max-width: 550px;
  }
}

@media only screen and (max-width:600px) {
  .hero h1 {
    font-size: 2rem;
  }
}

.hero h5 {
  padding: 10px 0 20px 0;
}


@media only screen and (min-width:993px) {
  .hero .rappi.btn {
    display: none;
  }
}

/*Arrow*/

.arrow {
  position: absolute;
  bottom: 35px;
  left: 50%;
  margin-left: -25px;
  width: 50px;
  height: 50px;
  background-image: url(../img/arrow-down.svg);
  background-size: contain;
}

.bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(10px);
  }

  60% {
    transform: translateY(5px);
  }
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(10px);
  }

  60% {
    transform: translateY(5px);
  }
}

/* ==========================================================================
   Secciones General
   ========================================================================== */

body {
  background-color: #fafafa;
}

.container.section {
  margin-top: 70px;
  margin-bottom: 70px;
}


.alt-container.section {
  padding: 3.5em 0;
  overflow: hidden;
  background-color: var(--secondary-color);
}

.alt-container.section .row {
  width: 90%;
  max-width: 1280px;
}

.alt-container.section.wide .row {
  width: 90%;
  max-width: 1920px;
}


@media only screen and (min-width: 901px) {
  .reversed {
    display: flex;
    flex-direction: row-reverse;
  }
}


.valign-row-l,
.valign-row-m {
  display: flex;
  align-items: center;
}

@media only screen and (max-width:992px) {
  .valign-row-l {
    display: block;
  }
}

@media only screen and (max-width:600px) {
  .valign-row-m {
    display: block;
  }
}

/* ==========================================================================
   Quienes somos
   ========================================================================== */

.quienes-somos img {
  max-width: 90%;
}

@media only screen and (max-width:992px) {
  .quienes-somos img {
    max-width: 75% !important;
    padding-top: 4rem;
  }
}


/* ==========================================================================
    Proximos eventos
    ========================================================================== */

/* #section-2 {
  height: 100vh;
} */

#tabla-eventos {
  max-height: 200px;
}


#div-eventos {
  background-color: var(--accent-color-darker);
  ;

  size: fill;
  max-height: 400px;
  overflow: scroll;
  overflow-x: hidden;
}

.li-eventos {
  margin-top: 10px;
  border-bottom: 0.5px solid white;
  color: white;
  padding: 10px;
}


/* ==========================================================================
   Noticias
   ========================================================================== */
.noticias-head {
  margin-bottom: 20px;
}

.noticias-head a {
  color: var(--accent-color);
}

.noticias-head a:hover {
  color: var(--accent-color-lighter);
}

#card-text {
  font-size: 15.5px;
}

#card-tit {
  font-weight: bold;
  text-shadow: 2px 2px 4px black;
}

.card-date {
  font-size: small;
  position: absolute;
  top: 2%;
  right: 3%;
  color: white;
  text-shadow: 1px 1px 2px black;
}

#read-more {
  position: absolute;
  top: 90%;
  right: 10%;
  color: var(--accent-color);
}

#read-more:hover {
  color: var(--accent-color-lighter);
}

html {
  --lh: 1.4rem;
  line-height: var(--lh);
}

.truncate-overflow {
  --max-lines: 3;
  position: relative;
  max-height: calc(var(--lh) * var(--max-lines));
  overflow: hidden;
  padding-right: 1rem;
  /* space for ellipsis */
}

.truncate-overflow::before {
  position: absolute;
  content: "";
  inset-block-end: 0;
  /* "bottom" */
  inset-inline-end: 0;
  /* "right" */
}

.truncate-overflow::after {
  content: "";
  position: absolute;
  inset-inline-end: 0;
  /* "right" */
  width: 1rem;
  height: 1rem;
  background: white;
}

/* ==========================================================================
   Clubes (Index)
   ========================================================================== */
.clubs .club {
  height: 300px;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.clubs .club .club-background-img {
  background-image: url(../img/placeholder.jpg);
  background-size: cover;
  background-position: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  transition: all .4s ease;
}

.clubs .club:hover .club-background-img {
  transform: scale(1.1)
}

.clubs .club .club-background-color {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.clubs .club .club-background-color .club-text {
  width: 100%;
  height: 100%;
  display: flex;
  background: rgba(0, 0, 0, 0.05);
}

.clubs .club .club-text p {
  color: white;
  font-size: 1.75rem;
  margin: auto;
}

.clubs .club.emprendedores .club-background-img {
  background-image: url(../img/placeholder.jpg);
}

.clubs .club.emprendedores .club-background-color {
  background: rgb(171 63 0 / 30%);
}

.clubs .club.consultoría .club-background-img {
  background-image: url(../img/placeholder.jpg);
}

.clubs .club.consultoría .club-background-color {
  background: rgb(171 0 0 / 30%);
}

.clubs .club.it .club-background-img {
  background-image: url(../img/placeholder.jpg);
}

.clubs .club.it .club-background-color {
  background: rgb(171 134 0 / 30%);
}

.clubs .club.media .club-background-img {
  background-image: url(../img/placeholder.jpg);
}

.clubs .club.media .club-background-color {
  background: rgb(171 0 110 / 30%);
}

.clubs .club.comunicacion .club-background-img {
  background-image: url(../img/placeholder.jpg);
}

.clubs .club.comunicacion .club-background-color {
  background: rgb(3 0 171 / 30%);
}

.clubs .club.finanzas .club-background-img {
  background-image: url(../img/placeholder.jpg);
}

.clubs .club.finanzas .club-background-color {
  background: rgb(0 171 37 / 30%);
}

/* ==========================================================================
   Sponsor slider
   ========================================================================== */

.carousel {
  height: 150px;
}

.carousel .carousel-item {
  width: 150px;
  height: 150px;
}


/* ==========================================================================
   Other tabs
   ========================================================================== */

.back {
  margin-top: 2rem;
}

.back a {
  text-decoration: none;
  font-size: 1.5em;
}

.back a::before {
  content: "< ";
}

/* ==========================================================================
   Sponsor Club
   ========================================================================== */

.sponsor img {
  width: 200px;
  height: 200px;
}

/* ==========================================================================
   Footer
   ========================================================================== */
.page-footer>.container {
  padding-bottom: 20px;
}

footer li,
footer p,
footer {
  font-size: 1rem;
}

footer li {
  margin-bottom: 8px;
}

footer i {
  font-size: 27px;
}

/* footer copyright */
.footer-copyright {
  background-color: rgba(0, 0, 0, 0.18) !important;
}

/* ==========================================================================
   Cambios Materialize
   ========================================================================== */

.row {
  margin-bottom: 0;
}

.section {
  padding-top: 70px;
  padding-bottom: 70px;
}

@media only screen and (max-width:901px) {
  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.valign-wrapper {
  flex-direction: column;
  justify-content: center;
}

.responsive-img {
  display: block;
  margin: auto;
}


/* ==========================================================================
   Browser Fixes
   ========================================================================== */
/* Firefox */

@-moz-document url-prefix() {
  /* .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/img/fondo-firefox.jpg) !important;
  } */

}