.hero.blog {
  height: 20vh;
  min-height: 300px;
  overflow: hidden;
  background-image: linear-gradient(rgba(189, 74, 255, 0.4), rgba(189, 74, 255, 0.4)), url(../img/bootcamp/_DSC1438.jpg);

}

.container.blog {
  max-width: 750px;
}

.blog .blog-card {
  margin-bottom: 40px;
}

.blog .categoria {
  // margin: 0px;
  // padding: 0px;
  color: red;
}

.blog .title {
  margin-top: 5px;
}

.blog .subtitle {
  font-size: 2em;
  color: #333333
}

.blog .date {
  margin-bottom: 0;
  color: $primary-color-dark;
}

.blog .article-content {
  color: #757575 !important;
  font-size: 1em !important;
  max-height: 400px;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}

.blog .article-footer {
  margin: 20px 0;
}

.blog .article-footer a:hover,
.blog .article-footer a:focus,
.blog .article-footer a:active {
  color: $primary-color;
}

.blog iframe{
  position: inherit;
  width: auto;
  height: auto;
}