.hero.blog {
    height: 20vh;
    min-height: 300px;
    overflow: hidden;
    background-image: linear-gradient(rgba(209,129,255,0.4), rgba(189,74,255,0.4)), url(../img/bootcamp/_DSC1438.jpg);

  }
  
  @media only screen and (max-width:992px) {
    .hero.club {
      height: 30vh;
    }
  }
  .container.blog{
    max-width: 650px;
  }

  .blog-card{
    margin-bottom:30px;
  }

  .categoria{
    margin: 0px;
    padding: 0px;
    color:red;
  }
  .fecha{
    margin: 0px;
    padding: 0px;
    font-style: italic;
    color:#bbb;
  }
  .titulo{
    margin-top:5px;
  }
  .subtitulo{
    font-size: 28px;
    color: #333333
  }

  .contenido{
    color:#757575;
    font-size: 18px;
  }
  .post-footer{
    margin: 20px 0;
  }