.hero.bootcamp {
  background-image: linear-gradient(rgba($club-emprendedores, 0.4), rgba($club-emprendedores, 0.4)), url(../img/bootcamp/_DSC2311.jpg);
}


  
.anotate {
  padding: 10px;
  height:fit-content;
  font-weight: 700;
  font-size: 30px;
  background-color: $club-emprendedores;
  color: white!important;
  transition: all .4s ease;
  border-radius: 0;
  box-shadow: none;
  text-transform: none;
}

.anotate:focus, .anotate:hover {
  background-color: $club-emprendedores-light;
  color: white!important;
}

/* CARDS DE ORADORES */

#que-es-bc .carousel {
  height: 250px;
}

#que-es-bc .carousel .carousel-item {
  width: 300px;
  height: 250px;
}

.opinion-card {
  width: 100%;
  height: 100%;
  background-color: $secondary-color;
  // border-radius: 5%;
  padding: 15px;
  cursor: default;

}

.opinion-img {
  height: 75px;
  width: 75px;
  border-radius: 50%;

}

.opinion-card h5 {
  margin-top: 5px;
  margin-bottom: 10px;
  color: black;
}

.opinion-card p {
  margin-top: 5px;
  margin-bottom: 5px;
  font-style: italic;

}



/* CIRCULOS CON STATS*/
.stats-card {
  display: block;
  height: 290px;
}

.stats-circle {
  width: 80%;
  max-width: 160px;
  border-radius: 50%;
  background: $club-emprendedores;
  line-height: 0;
  position: relative;
  margin: auto;
}

/* para que sea responsive*/
.stats-circle::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.circle-text {
  font-size: 58px;
  position: absolute;
  bottom: 50%;
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: white;
}
.circle-text h5{
  font-weight:600;
}

#section-3 h4 {
  /* font-size: 24px; */
}

//Collapsible


.collapsible {
  box-shadow: none;
}

//viejos
.bootcamps-viejos .collapsible-header {
  background-color: #fafafa;
  transition: background-color .4s ease, color .4s ease;
  font-size: 1.6rem;
}

.collapsible.bootcamps-viejos  li:hover .collapsible-header {
  background-color: #f5f5f5;
}

.collapsible.bootcamps-viejos  li:hover .collapsible-header {
  color: $club-emprendedores;
}

.bootcamps-viejos .collapsible-header span {
  transition: color .4s ease; 
}

//faq
.faq .collapsible-body{
  background-color: #f5f5f5;
}
.faq .collapsible-header, {
  background-color: #f5f5f5;
  transition: background-color .4s ease, color .4s ease;
  font-size: 1.6rem;
}

.collapsible.faq  li:hover .collapsible-header {
  background-color: #fafafa;
}

.collapsible.faq  li:hover .collapsible-header {
  color: $club-emprendedores;
}

.faq .collapsible-header span {
  transition: color .4s ease;
}

@media only screen and (max-width:992px) {

  .stats-card h5{
    font-size: 16px;
    font-weight: 500;
  }


  .circle-text {
    font-size: 30px;
    position: absolute;
    bottom: 50%;
    width: 100%;
    text-align: center;
    color: white;
  }
}