
/* ==========================================================================
   Hero
   ========================================================================== */
  /*págnias de clubes*/
  .hero.club {
    height: 70vh;
    min-height: 670px;
    overflow: hidden;
  }
  
  @media only screen and (max-width:992px) {
    .hero.club {
      height: 100vh;
    }
  }
  
  .hero.club.emprendedores {
    background-image: linear-gradient(rgba($club-emprendedores, 0.4), rgba($club-emprendedores, 0.4)), url(../img/bootcamp/_DSC2311.jpg);
    
  }
  
  .hero.club.consultoria {
    background-image: linear-gradient(rgba($club-consultoria, 0.4), rgba($club-consultoria, 0.4)), url(../img/consultoría/hero-min.jpg);
  }
  
  .hero.club.it {
    background-image: linear-gradient(rgba($club-it, 0.4), rgba($club-it, 0.4)), url(../img/placeholder.jpg);
  }
  
  .hero.club.media {
    background-image: linear-gradient(rgba($club-media, 0.4), rgba($club-media, 0.4)), url(../img/placeholder.jpg);
  }
  
  .hero.club.comunicacion {
    background-image: linear-gradient(rgba($club-comunicacion, 0.4), rgba($club-comunicacion, 0.4)), url(../img/placeholder.jpg);
  }
  
  .hero.club.finanzas {
    background-image: linear-gradient(rgba($club-finanzas, 0.4), rgba($club-finanzas, 0.4)), url(../img/placeholder.jpg);
  }
  


/* ==========================================================================
   Team
   ========================================================================== */

.club .container.section.team{
  text-align: center;
}

.club .team-section.members-2 .row{
  max-width: 750px;
}
    
/* ==========================================================================
   Main activity
   ========================================================================== */
.main-activity .container{
  width: 90%;
  max-width: 1280px;
}

.main-activity p{
  font-size: 1.4rem;
}


@media only screen and (min-width:993px){
  .main-activity > div.row> div:nth-child(1){
    padding-left: 0;
  }
  .main-activity p{
    padding: 0 30px 0 40px;
  }
}

@media only screen and (max-width:992px){
  .main-activity {
    text-align: center;
  }
}

  
/* ==========================================================================
   Sponsor Club
   ========================================================================== */
.sponsor{
  text-align: center;
}

.sponsor img {
  width: 200px;
  height: 200px;
}

.sponsor p{
  font-size: 1.3rem;
  max-width: 600px;
  margin: auto;
}
