.clubes .hero{
    height: 30vh;
}

.clubes .hero .container{
    padding-top: 5vh;
}
@media only screen and (max-width: 600px){
    .clubes .hero{
        height: 40vh;
    }
    
    .clubes .hero h1{
        font-size: 2.5rem;
    }

}
