/* ==========================================================================
   Quienes somos
   ========================================================================== */

.index .quienes-somos img {
    max-width: 90%;
}

@media only screen and (max-width:992px) {
    .index .quienes-somos img {
        max-width: 75% !important;
        padding-top: 4rem;
    }
}

/* ==========================================================================
   Podcast
   ========================================================================== */
.index section.podcast img{
    padding: 35px;
}

@media only screen and (max-width:992px) {
    .index section.podcast img{
        padding: 0 0 4rem 0;
    }
}


.index .btn.podcast {
    background: #1ED760;
}

.index .btn.podcast:hover,
.btn.podcast:focus {
    background: #52ff8f;
}