/* ==========================================================================
   Quienes somos
   ========================================================================== */

.quienes-somos img {
    max-width: 90%;
}

@media only screen and (max-width:992px) {
    .quienes-somos img {
        max-width: 75% !important;
        padding-top: 4rem;
    }
}












/* ==========================================================================
      Proximos eventos
      ========================================================================== */

/* #section-2 {
    height: 100vh;
  } */

// #tabla-eventos {
//     max-height: 200px;
// }


// #div-eventos {
//     background-color: var(--accent-color-darker);
//     ;

//     size: fill;
//     max-height: 400px;
//     overflow: scroll;
//     overflow-x: hidden;
// }

// .li-eventos {
//     margin-top: 10px;
//     border-bottom: 0.5px solid white;
//     color: white;
//     padding: 10px;
// }

