/* ==========================================================================
   Quienes somos
   ========================================================================== */

.quienes-somos img {
    max-width: 90%;
}

@media only screen and (max-width:992px) {
    .quienes-somos img {
        max-width: 75% !important;
        padding-top: 4rem;
    }
}












/* ==========================================================================
      Proximos eventos
      ========================================================================== */

/* #section-2 {
    height: 100vh;
  } */

// #tabla-eventos {
//     max-height: 200px;
// }


// #div-eventos {
//     background-color: var(--accent-color-darker);
//     ;

//     size: fill;
//     max-height: 400px;
//     overflow: scroll;
//     overflow-x: hidden;
// }

// .li-eventos {
//     margin-top: 10px;
//     border-bottom: 0.5px solid white;
//     color: white;
//     padding: 10px;
// }


/* ==========================================================================
     Noticias
     ========================================================================== */
// .noticias-head {
//     margin-bottom: 20px;
// }

// .noticias-head a {
//     color: var(--accent-color);
// }

// .noticias-head a:hover {
//     color: var(--accent-color-lighter);
// }

// #card-text {
//     font-size: 15.5px;
// }

// #card-tit {
//     font-weight: bold;
//     text-shadow: 2px 2px 4px black;
// }

// .card-date {
//     font-size: small;
//     position: absolute;
//     top: 2%;
//     right: 3%;
//     color: white;
//     text-shadow: 1px 1px 2px black;
// }

// #read-more {
//     position: absolute;
//     top: 90%;
//     right: 10%;
//     color: var(--accent-color);
// }

// #read-more:hover {
//     color: var(--accent-color-lighter);
// }

// html {
//     --lh: 1.4rem;
//     line-height: var(--lh);
// }

// .truncate-overflow {
//     --max-lines: 3;
//     position: relative;
//     max-height: calc(var(--lh) * var(--max-lines));
//     overflow: hidden;
//     padding-right: 1rem;
//     /* space for ellipsis */
// }

// .truncate-overflow::before {
//     position: absolute;
//     content: "";
//     inset-block-end: 0;
//     /* "bottom" */
//     inset-inline-end: 0;
//     /* "right" */
// }

// .truncate-overflow::after {
//     content: "";
//     position: absolute;
//     inset-inline-end: 0;
//     /* "right" */
//     width: 1rem;
//     height: 1rem;
//     background: white;
// }