
/* ==========================================================================
   Footer
   ========================================================================== */
.page-footer{
  background: $footer-color;
}

.page-footer>.container {
  padding-bottom: 20px;
}

footer li,
footer p,
footer {
  font-size: 1rem;
}

footer li {
  margin-bottom: 8px;
}

footer a {
  color: white!important;
}

footer a:hover,footer a:focus {
  color: $primary-color-saturated!important;
}

footer i {
  font-size: 36px;
}

footer svg{
  fill: white;
  transition: fill .4s ease;
}
footer svg:hover,footer svg:focus {
  fill: $primary-color-saturated!important;
}

/* footer copyright */
.footer-copyright {
  background-color: rgba(0, 0, 0, 0.18) !important;
}



