/* ==========================================================================
   Preloader
   ========================================================================== */
.loading {
  overflow: hidden;
  height: 100vh;
}

form #website {
  display: none;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #c883ec;
}

.preloader-circle {
  position: fixed;
  left: calc(50% - 25px);
  top: calc(50% - 25px);
  opacity: 0;
  z-index: 21;
  /*shape & color*/
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $primary-color;
}

/*animations*/
.preloader-circle:first-child {
  -webkit-animation: loader 2s infinite;
  animation: loader 2s infinite;
}

.preloader-circle:nth-child(2) {
  -webkit-animation: loader 2s 1s infinite cubic-bezier(0, 0, 0.32, 1.08);
  animation: loader 2s 1s infinite cubic-bezier(0, 0, 0.32, 1.08);
}

@-webkit-keyframes loader {
  0% {
    opacity: 1;
    transform: scale(0);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes loader {
  0% {
    opacity: 1;
    transform: scale(0);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}
