/* ==========================================================================
   Sponsor slider
   ========================================================================== */

.carousel {
  height: 150px;
}

.carousel .carousel-item, .carousel .carousel-item img {
  width: 150px;
  height: 150px;
}