
/* ==========================================================================
   Sponsor slider
   ========================================================================== */

   .carousel {
    height: 150px;
  }
  
  .carousel .carousel-item {
    width: 150px;
    height: 150px;
  }
  