.articulo .hero {
    height: 90px;
    overflow: hidden;
    background-image: linear-gradient(rgba(189, 74, 255, 0.4), rgba(189, 74, 255, 0.4)), url(../img/blog-min.jpg);

}

main.articulo {
    background: white
}

.articulo .container {
    max-width: 950px;
}

.articulo .blog-card {
    margin-bottom: 40px;
}


.articulo .title {
    margin-top: 5px;
}

.articulo .subtitle {
    font-size: 1.75em;
    color: #5d5d5d;
}

.articulo .date {
    margin-bottom: 0;
    color: $primary-color-saturated;
}

.articulo .article-content {
    font-size: 1em !important;
    width: 100%;
    word-wrap: break-word;
}

.articulo .article .article-content img.responsive-img {
    background-color: #bfbfbf;
    max-height: 600px;
    margin: 20px 0 40px;
}

.articulo .article-content * {
    max-width: 100%;
    word-wrap: break-word;
}

.articulo iframe {
    position: inherit;
    width: auto;
    height: auto;
}