.hero.blog {
  height: 20vh;
  min-height: 300px;
  overflow: hidden;
  background-image: linear-gradient(rgba(189, 74, 255, 0.4), rgba(189, 74, 255, 0.4)), url(../img/blog-min.jpg);

}

main.blog {
  background: white
}

main.blog .container.blog {
  max-width: 750px;
}

main.blog .blog-card {
  margin-bottom: 40px;
}

main.blog .title {
  margin-top: 5px;
}

main.blog .subtitle {
  font-size: 1.75em;
  color: #5d5d5d;
}

main.blog .author-date {
  margin-bottom: 0;
}

main.blog .article-content {
  color: #464646 !important;
  max-height: 1200px;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}



main.blog .article-content p {
  font-size: 17px !important;
}

main.blog .article-content a {
  color: #757575 !important;
  cursor: default;
}

main.blog .article-footer {
  margin: 20px 0;
  font-size: 16px !important;
}

main.blog .article-footer a:hover,
main.blog .article-footer a:focus,
main.blog .article-footer a:active {
  color: $primary-color-saturated;
}

main.blog iframe {
  position: inherit;
  width: auto;
  height: auto;
}

main.blog .article-content img.responsive-img {
  background-color: #bfbfbf;
  max-height: 400px;
  margin-top: 20px;
}